@import "./utils/variables";

@import "./utils/common";

@import "./components/logo";

@import "./components/header";

@import "./components/main-page/hero";

@import "./components/main-page/advantages";

@import "./components/main-page/galary";

@import "./components/main-page/team";

@import "./components/main-page/clients";

@import "./components/main-page/modal-window";

@import "./components/portfolio-page/filter";

@import "./components/portfolio-page/works";

@import "./components/footer";
