.works {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}
.works__link {
  position: relative;
  display: block;
  overflow: hidden;
  transition: box-shadow $transition-time $transition-style;
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.works__wrapper {
  position: relative;
  z-index: 20;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 24px;
  background-color: #ffffff;
}
.works__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $first-text-color;
  background-color: #ffffff;
}
.works__text {
  margin-top: 4px;
  margin-bottom: 0;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $second-text-color;
}
.works__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 294px;
  font-style: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $text-color-on-bkg;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translate(0, 294px);
  transition: transform $transition-time $transition-style;
  .works__link:hover & {
    transform: translate(0, 0);
  }
}
