$first-text-color: #212121;

$second-text-color: #757575;

$accent-color: #2196f3;

$bcg-color: #2f303a;

$text-color-on-bkg: #ffffff;

$transition-time: 250ms;

$transition-style: cubic-bezier(0.4, 0, 0.2, 1);

$main-font: "Roboto", sans-serif;
